body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
}

.glass-box {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
  text-align: center;
  width: 320px;
}

h2, h3, p {
  color: white;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #00c6ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0072ff;
}

#msg {
  color: #00ffcc;
}
